@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
#root{
  background-color:#30394A ;
}
.wrapper {

 background-color:#30394A;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
 /*width: 80%;*/
  margin: 0 auto;
}

.title-div{
  background-color: #30394A;
  color: #fff;
  height: auto;
  padding: 2em;

}
.title{
  font-family: 'Acme', sans-serif;
  font-size:40px;

}
.subtitle{
  color:#777;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
}

.board{
 background-color:#fff;
 width:90em;
}

.form-container{
  height:90vh;
  display:flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  background-color:#777;
  color: white;
  font-size:20px;
  width:50%;
  font-family: 'Muli', sans-serif;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #fff;
  width: 100%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}
.list-container{
  background: linear-gradient(to right,#474957 ,#7B7E8E  );
  color:whitesmoke;
  height: 90vh;
  padding:50px;
  font-family: 'Muli', sans-serif;
  margin:0;
  width:50%;
  font-size:15px;
}
.todo-div{
  padding:2px;
  width: parent;
  
  border-radius: 5%;
  margin:4px;
}

.to-do:hover{
  background-color:#c0bcbce6;
}

.btn-remove{
  float:right;
  background: transparent;
  border: 0;
  color: red;
  float: right;
}

.btn-add{
  background-color:#B22A4C ;
  color:white;
  border-radius:0px;
  border:0;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
}
.list-title{
  font-size:22px;
  color:white;
  align-content: center !important;
  justify-content: center;
  margin-bottom:20px;
}